// Colors
$color-white:             #fff;
$color-black:             #000;
$color-magenta:           #ec008c;
$color-light-gray:        #eee;
$color-translucent-black: rgba(0, 0, 0, 0.5);


// Breakpoints
$bp-mobile: "screen and (max-width : 768px)";
$bp-mobile: "screen and (max-width : 768px)";
$bp-mdesktop: "screen and (max-width : 992px)";
