@import 'fonts.css';
@import 'variables.css';



.navbar-brand {
    width: 60px;
    height: 24px;
    background-image: url('/images/HUGE-white.png');
    background-repeat: no-repeat;
    background-size: 60px 24px;
    display: block;
}

#block-mask {
  position: absolute;
  background-color: var(--translucent-black);
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  z-index: 90;
  width: 100%;
}

/*Strip the ul of padding and list styling*/
nav {
  position: relative;
  background-color: var(--magenta);
  width: 100%;
  margin: 0;
  padding:0;
  z-index: 100;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
}

/*Style for menu links*/
li a {
  font-family: HUGEAvantGardeBold;
  font-size: 21px;
  color: var(--white);
	text-decoration: none;
  line-height: 24px;
  padding: 24px;
  vertical-align: bottom;
  display: inline-block;
}

/*Hover state for top level links*/
li:hover a, .selected-node a {
	background: var(--white);
  color: var(--magenta);
}

/* prevent hover on Huge logo and menu button */
#menu-button:hover a, #brand-container a:hover {
	background: var(--magenta);
  color: var(--white);
}

/*Menu button toggle */
/*#menu-button { transition:all 1.0s ease-in-out;}*/
#menu-button a { float: left; }
#menu-button.menu-open a { float: right;}

/*Style for dropdown links*/
.selected-node ul {
  display: block;
  position: absolute;
}
.selected-node ul a{
  background: var(--white);
  color: var(--black);
  font-family: Galaxie;
  font-size: 16px;
  padding: 12px 24px;
  display: block;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: var(--light-gray);
	color: var(--magenta);
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 120px;
	padding: 0 20px;
}

/*Hide first element*/
nav > ul li#menu-button {display: none;}

/*Responsive Styles*/
@media screen and (max-width : 992px){
  li a {
    font-size: 18px;
    line-height: 18px;
    padding: 18px;
  }
}
@media screen and (max-width:768px) {
	nav > ul li#menu-button {	display: block; overflow: auto;}
	/*nav > ul li.menu-button a { float: right}*/
  /*nav > ul li:not(#menu-button) {display: none;}*/
  /*ul li.icon {*/
    /*float: right;*/
    /*display: inline-block;*/
  /*}*/


	nav {
	height: 100%;
	border-radius: 0;

	/*
	 * The width determines how much of the page you want to
	 * remain visible once the menu slides over
	 */
	width: 70%;

	/*
	 * Must be absolutely positioned otherwise it won't sit
	 * side by side with the content but instead above it
	 * */
	position: absolute;
	left: 0;
	top: 0;

	/* Keeps the menu hidden off-canvas to the left */
	transform: translateX(-100%);
}
}


/*@media screen and (max-width : 768px){*/
	/*Make dropdown links appear inline*/
	/*ul {
		position: static;
		display: none;
	}*/
	/*Create vertical spacing*/
	/*li {
		margin-bottom: 1px;
	}*/
	/*Make all menu links full width*/
	/*ul li, li a {
		width: 100%;
	}
}*/
