@import 'fonts.css';
@import 'variables.css';
@import 'nav.css';

$bp-mobile: "screen and (max-width : 768px)";

body, html {
  margin:0;
  padding:0;
}

body {
  background: var(--white);
  color: var(--white);
}

main {
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 640px;
    background: url(/images/background-image.jpg) center;
    background-size: cover;
    padding: 0 24px;
    .headline {
      font-family: HUGEAvantGardeBold;
      font-size: 120px;
      letter-spacing: -0.06em;
      text-align: center;
    }
    @media #{$bp-mobile}{
      max-height: 240px;
      .headline {
        color: transparent;
      }
    }
  }
  .headline-wrapper {
    padding: 0 24px;
    .headline-mobile{
      display: none;
      font-family: HUGEAvantGardeBold;
      letter-spacing: -0.06em;
      text-align: center;
      font-size: 44px;
      color: var(--black);
      margin-top: 50px;
      margin-bottom: 0;
      @media #{$bp-mobile}{
        display: block;
      }
    }
  }
  .content {
    margin-top: 60px;
    font-family: Galaxie;
    font-size: 24px;
    color: var(--black);
    padding: 0 24px;
    p {
      margin: 0 auto;
      max-width: 968px;
    }
    @media #{$bp-mobile}{
      margin-top: 50px;
      font-size: 14px;
    }
  }
}
