@import "fonts.css";
@import "huge-nav.css";

body,html {
  margin:0;
  padding:0;
}

body {
  background: var(--magenta);
  color: var(--white);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
}
