/*Main element*/
huge-nav {
  /*Navigation element*/
  /* END OF Navigation element*/
  /*Dropdown (second level) styles*/
  /* transluscen mask div style*/
  /* Navigation controls*/ }
  huge-nav nav {
    position: relative;
    background-color: var(--magenta);
    z-index: 100;
    /*  Mobile menu off-screen */
    /*General ul style inside nav*/
    /*First level menu options*/ }
    @media screen and (max-width: 768px) {
      huge-nav nav {
        height: 100%;
        border-radius: 0;
        width: 70%;
        position: absolute;
        left: 0;
        top: 0;
        /* Keeps the menu hidden off-canvas to the left */
        transform: translateX(-100%); } }
    huge-nav nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      /*General option style inside nav*/ }
      huge-nav nav ul li a {
        text-decoration: none;
        display: inline-block; }
    huge-nav nav > ul > li {
      display: inline-block;
      /*Hide dropdown (second level) links until they are needed*/ }
      huge-nav nav > ul > li > a {
        font-family: HUGEAvantGardeBold;
        font-size: 21px;
        color: var(--white);
        text-decoration: none;
        line-height: 24px;
        padding: 24px; }
        huge-nav nav > ul > li > a:hover {
          background: var(--white);
          color: var(--magenta); }
        @media screen and (max-width: 992px) {
          huge-nav nav > ul > li > a {
            font-size: 18px;
            line-height: 20px;
            padding: 20px 16px; } }
      huge-nav nav > ul > li > ul {
        display: none; }
  huge-nav li.selected-node > a {
    background: var(--white);
    color: var(--magenta); }
  huge-nav li.selected-node ul {
    display: block;
    position: absolute; }
    huge-nav li.selected-node ul a {
      background: var(--white);
      color: var(--black);
      font-family: Galaxie;
      font-size: 16px;
      padding: 12px 24px;
      display: block; }
      huge-nav li.selected-node ul a:hover {
        background: var(--light-gray);
        color: var(--magenta); }
  huge-nav #block-mask {
    position: absolute;
    background-color: var(--translucent-black);
    top: 0px;
    bottom: 0px;
    z-index: 90;
    width: 100%; }
  huge-nav #nav-controls {
    background-color: var(--magenta);
    /* Button containers */ }
    huge-nav #nav-controls .menu-option {
      position: relative;
      float: left;
      z-index: 110;
      /* brand container*/
      /* Hamburger container*/ }
      @media screen and (max-width: 768px) {
        huge-nav #nav-controls .menu-option {
          float: none; } }
      huge-nav #nav-controls .menu-option#brand-container {
        padding: 24px;
        /* Brand logo */ }
        huge-nav #nav-controls .menu-option#brand-container .navbar-brand {
          width: 60px;
          height: 24px;
          background-image: url("/images/HUGE-white.png");
          background-repeat: no-repeat;
          background-size: 60px 24px;
          display: block; }
        @media screen and (max-width: 992px) {
          huge-nav #nav-controls .menu-option#brand-container {
            font-size: 18px;
            line-height: 20px;
            padding: 20px 16px;
            padding: 20px 24px; }
            huge-nav #nav-controls .menu-option#brand-container .navbar-brand {
              width: 50px;
              height: 20px;
              background-size: 50px 20px; } }
      huge-nav #nav-controls .menu-option#mbutton-container {
        display: none;
        padding: 20px 24px;
        /*Hamburguer*/ }
        huge-nav #nav-controls .menu-option#mbutton-container .menu-button {
          width: 24px;
          height: 20px;
          background-image: url("/images/toggle-open.svg");
          background-repeat: no-repeat;
          background-size: 24px 20px; }
          huge-nav #nav-controls .menu-option#mbutton-container .menu-button.menu-open {
            background-image: url("/images/toggle-close.svg"); }
