/*Main element*/
huge-nav {
  /*Navigation element*/
  /* END OF Navigation element*/
  /*Dropdown (second level) styles*/
  /* transluscen mask div style*/
  /* Navigation controls*/ }
  huge-nav nav {
    position: relative;
    background-color: var(--magenta);
    z-index: 100;
    /*  Mobile menu off-screen */
    /*General ul style inside nav*/
    /*First level menu options*/ }
    @media screen and (max-width: 768px) {
      huge-nav nav {
        height: 100%;
        border-radius: 0;
        width: 60%;
        position: absolute;
        left: 0;
        top: 60px;
        background: var(--white);
        overflow: hidden;
        transition: transform 500ms ease;
        /* Keeps the menu hidden off-canvas to the left */
        transform: translateX(-100%); }
        huge-nav nav.menu-open {
          transform: translateX(0); } }
    huge-nav nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      /*General option style inside nav*/ }
      huge-nav nav ul li a {
        text-decoration: none;
        display: inline-block; }
    huge-nav nav > ul > li {
      display: inline-block;
      /*Hide dropdown (second level) links until they are needed*/ }
      @media screen and (max-width: 768px) {
        huge-nav nav > ul > li {
          display: inline; } }
      huge-nav nav > ul > li > a {
        font-family: HUGEAvantGardeBold;
        font-size: 21px;
        color: var(--white);
        text-decoration: none;
        line-height: 24px;
        padding: 24px;
        margin: 0 -2px; }
        huge-nav nav > ul > li > a:hover {
          background: var(--white);
          color: var(--magenta); }
        @media screen and (max-width: 992px) {
          huge-nav nav > ul > li > a {
            font-size: 18px;
            line-height: 20px;
            padding: 20px 18px; } }
        @media screen and (max-width: 768px) {
          huge-nav nav > ul > li > a {
            font-size: 24px;
            line-height: 24px;
            padding: 12px 24px;
            width: 100%;
            color: var(--black); }
            huge-nav nav > ul > li > a:hover {
              background-color: var(--light-gray); } }
      huge-nav nav > ul > li > ul {
        position: absolute;
        max-height: 0;
        transition: max-height 50ms ease-out;
        overflow: hidden; }
        huge-nav nav > ul > li > ul a {
          background: var(--white);
          color: var(--black);
          font-family: Galaxie;
          font-size: 16px;
          padding: 12px 24px;
          display: block; }
          huge-nav nav > ul > li > ul a:hover {
            background: var(--light-gray);
            color: var(--magenta); }
  huge-nav li.selected-node > a {
    background: var(--white);
    color: var(--magenta); }
    @media screen and (max-width: 768px) {
      huge-nav li.selected-node > a {
        color: var(--black); } }
  huge-nav li.selected-node ul {
    max-height: 500px;
    transition: max-height 150ms ease-in; }
    @media screen and (max-width: 768px) {
      huge-nav li.selected-node ul {
        position: static; }
        huge-nav li.selected-node ul a {
          font-size: 18px; } }
  huge-nav #block-mask {
    position: absolute;
    background-color: var(--translucent-black);
    top: 0px;
    bottom: 0px;
    z-index: 90;
    width: 100%; }
  huge-nav #nav-controls {
    position: relative;
    z-index: 110;
    background-color: var(--magenta);
    /* brand container*/
    /*Hamburguer*/ }
    @media screen and (max-width: 768px) {
      huge-nav #nav-controls {
        display: inline-flex;
        width: 100%; } }
    huge-nav #nav-controls .brand-container {
      position: relative;
      float: left;
      z-index: 110;
      padding: 24px;
      margin: 0;
      /* Brand logo */ }
      huge-nav #nav-controls .brand-container #navbar-brand {
        width: 60px;
        height: 24px;
        background-image: url("/images/HUGE-white.png");
        background-repeat: no-repeat;
        background-size: 60px 24px;
        display: block;
        transition: all 500ms ease; }
        @media screen and (max-width: 768px) {
          huge-nav #nav-controls .brand-container #navbar-brand {
            transform: translateX(-100px); }
            huge-nav #nav-controls .brand-container #navbar-brand.menu-open {
              transform: translateX(0); } }
      @media screen and (max-width: 992px) {
        huge-nav #nav-controls .brand-container {
          font-size: 18px;
          line-height: 20px;
          padding: 20px 18px;
          padding: 18px 24px; }
          huge-nav #nav-controls .brand-container .navbar-brand {
            width: 50px;
            height: 20px;
            background-size: 50px 20px; } }
    huge-nav #nav-controls #menu-button {
      position: absolute;
      width: 72px;
      height: 60px;
      background-image: url("/images/toggle-open.svg");
      background-position: center;
      background-size: cover;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      display: none;
      cursor: pointer;
      z-index: 120;
      left: 0;
      transition: all 500ms ease; }
      huge-nav #nav-controls #menu-button.menu-open {
        left: calc(100% - 72px);
        background-image: url("/images/toggle-close.svg"); }
      @media screen and (max-width: 768px) {
        huge-nav #nav-controls #menu-button {
          display: block; } }
  huge-nav .copyright {
    position: absolute;
    display: none;
    bottom: 60px;
    left: 0;
    padding: 18px 24px;
    font-family: 'helvetica';
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    color: var(--black); }
    @media screen and (max-width: 768px) {
      huge-nav .copyright {
        display: block; } }
