:root {
  /*
   * Colors
   * ======================================================================== */
  --white: #fff;
  --black: #000;
  --magenta: #ec008c;
  --light-gray: #eee;
  --translucent-black: rgba(0, 0, 0, 0.5); }
